[2014-09-17 16:21] techchad opened #87 "Error: origin_mismatch while trying to access Google Account."
I just installed and setup the storage client it's on a Windows 2008 R2 box.  When I access the storage-modal.html a banner comes across that states Rise Vision needs access to your Google account to verify who you are.  When i click ok I get the attached error.  I am using two-factor authentication with my google account.  I did clear my cache and cookies and it had me re-authorize the account an

[2014-09-23 15:12] winkerVSbecks opened #90 "Search bar style"
The search bar needs to be updated to match the RV standard: http://rise-vision.github.io/style-guide/#/components/search-bar

[2014-11-18 14:33] fjvallarino opened #137 "New Folder and Upload buttons should not display if Initial Storage has not been created"

[2014-11-18 14:34] fjvallarino opened #138 "Modal dialogs should default to the action instead of the Cancel button when pressing Enter"

[2014-11-18 18:22] alanclayton opened #140 "Storage with common header asking to create an rva account when I already have one"
See video overview here, http://www.screencast.com/t/yI2DDOf6J3F.

@tejohnso @fjvallarino This will need to be fixed before storage is deployed with common header. Shoot me an email and I can provide you the credentials for the user account this is occurring.

[2014-11-24 21:03] btfrise opened #147 "Action bar does not conform to style guide."
http://www.screencast.com/t/8NhFuauTGa

http://rise-vision.github.io/style-guide/#/components/action-bar

[2014-11-24 21:04] btfrise opened #148 "Loading message does not conform to style guide."
http://www.screencast.com/t/ev1tvPCH9du2

Should be a loading spinner - http://rise-vision.github.io/style-guide/#/components/loading-spinner

[2014-12-09 19:52] ghislaineguerin opened #185 "Inconsistent modal behavior on stand alone UI"
Click "New Folder" in stand alone UI,  the modal appears and the browser automatically centers it causing the common-header to be gone at top...of course you just need to scroll up again.  But what I am concerned about is inconsistency. Now try to click the copy-url action button. noticed the module pops up but it does not center and the common header is still there when you dismissed it. you dont

[2014-12-09 19:55] ghislaineguerin opened #186 "There's a spacing between common-header and the modal backdrop"
![rise_vision_storage___storage_for_digital_signage_content](https://cloud.githubusercontent.com/assets/845767/5364649/cb71c5d6-7fbb-11e4-8dc1-2706928a1f47.png)
The white transparent background should start right after common header.

[2014-12-09 22:30] AlexKolenoff opened #187 "Can't download files from Storage after Subscription is Cancelled"
If I try to download a file from Storage after I cancel my Storage subscription, I get a Login Required Message in the top left corner of the browser window and I can't do anything further on the page:

http://screencast.com/t/X2ZG0Pj7k1

You should be able to download your files from Storage if you are logged in, even if your subscription is cancelled.

[2014-12-10 04:45] alanclayton opened #188 "Unable to upload files larger than 450 mb"
You are unable to upload files that are larger than 450mb. No error is provided. Just the message, "Upload did not complete"

A user should be able to upload a file that is at least 6 gb.

[2014-12-11 18:45] settinghead opened #192 "Fix Common Header version to v1.0.0"
In bower.json:
[code]
https://github.com/Rise-Vision/common-header/issues/426

[2014-12-15 15:48] btfrise opened #195 "Uploads fail >2GB."
2+ GB file uploads fail on storage, screenshot attached.

http://www.screencast.com/t/YYMbMG2HXv

[2015-01-06 13:16] #186 closed

[2015-01-06 13:16] #185 closed

[2015-01-14 23:49] ghislaineguerin opened #225 "Filter placeholder text disappears and tag changes without applying changes on modal"
@EnlightenedCode  Can’t clear tags on this modal too

[2015-01-14 23:50] ghislaineguerin commented on #225
![vzx6yanead](https://cloud.githubusercontent.com/assets/845767/5750114/697d10e2-9c26-11e4-8086-aab6826e1779.gif)

[2015-01-15 16:59] EnlightenedCode commented on #225
@ghislaineguerin yes there are a few issues when you branched off before yesterday.  me and francisco are still working to fix them

[2015-01-15 22:38] EnlightenedCode opened #227 "Tagging QA Issue: Action bar stays after refresh"
http://www.screencast.com/t/SCLYE0Xxe1Z

the action bar stays after the file list refreshes when saving new tags but there is nothing selected.

[2015-01-15 22:42] EnlightenedCode opened #228 "Tagging QA Issue: Deleting a Tag already assigned stalls saving files with that tag"
Saving Lookup Tags after deleting one of them from the Tag Def list causes error.

How to Reproduce:
1) If you have lookup tags set up in tag settings. Go to a file and add all lookup tags to it. (need more than 1)
2) Go to "Tag Settings" and delete any of those lookup tag values or the whole lookup tag name but make sure you have one value that is assigned still there.
3)  Go back to the same fil

[2015-01-16 00:05] EnlightenedCode commented on #225
@ghislaineguerin this is up for QA on http://rva-test.appspot.com/ can you confirm to me there in storage if you still see this bug? if not we can resolve this.

[2015-01-16 01:54] EnlightenedCode opened #230 "Tagging QA Issue: lookup clear all errors occur"
if you add lookup tags to one file and then select a file with tags on it and a file with no lookup tags and press clear all... you get an error  on screen
![image](https://cloud.githubusercontent.com/assets/4974337/5770452/e8ccae22-9ce7-11e4-9dfc-68733eaa7268.png)

[2015-01-17 00:57] EnlightenedCode commented on #227
@alanclayton can you review and test this on http://rva-test.appspot.com/? and tell me if this bug is resolved... thanks!

[2015-01-17 00:58] EnlightenedCode commented on #228
@alanclayton this is resolved now on http://rva-test.appspot.com/.  Let me know if this passes your test and I'll mark it as resolved.

[2015-01-17 00:58] EnlightenedCode commented on #230
@alanclayton test this on http://rva-test.appspot.com/ and then let me know so I can resolved this.  The fix for this is currently staged there.

[2015-01-22 16:27] alanclayton opened #235 "User is able to enter tags with duplicate names"
The Tagging UI allows for tags to be created with duplicate names.  Duplicate names shouldn't be allowed.

[2015-01-22 16:29] alanclayton opened #236 "Lookup Tags and Freeform Tags not using the correct table"
The tables for Lookup and Freeform tags are not using the responsive table defined in the style guide, http://rise-vision.github.io/style-guide/#/components/responsive-tables

[2015-01-22 16:43] alanclayton commented on #235
A user can also enter duplicate Lookup values

[2015-01-22 16:46] alanclayton opened #237 "User is able to enter Lookup values with duplicate names on the same tag"
Create a Lookup tag. Add two lookup values with the same name. The UI accepts both.

Duplicate Lookup values shouldn't be allowed on the same tag.

[2015-01-22 17:04] alanclayton opened #238 "Changing the Name creates a new tag vs updating the existing"
1. Go to the Tag Settings page
2. Select an existing tag.
3. Change the name and save your change.
4. When you are taken back to the Tag Settings page you will see a new tag has been created that reflects your change vs updating the tag you changed.

A new tag will be created if you modify the following of an existing tag,  Lookup Tag name, Lookup Tag value and Freeform Tag name

[2015-01-22 17:09] alanclayton opened #239 "There is no confirmation when deleting a tag"
If i delete a tag I should receive a confirmation modal with, "This Tag is about to be permanently deleted and it cannot be recovered" Style guide confirmation modal, http://rise-vision.github.io/style-guide/#/components/confirmation-modal

[2015-01-22 17:11] alanclayton commented on #238
Additional info, simply selecting an existing tag and selecting save will also create a duplicate tag.

[2015-01-22 17:14] EnlightenedCode commented on #236
@alanclayton this will not be addressed until after this release is passed QA. there is another feature branch that address UI improvements like this.  this does not affect the release you are QAing right now

[2015-01-22 17:16] EnlightenedCode commented on #238
@alanclayton This is how our update works and this is expected.  we need to delete and add.  renaming is the same as deleting.

[2015-01-22 17:56] alanclayton opened #240 "Start & End Dates don't save in Tagging Timeline"
1. Select an existing tag
2. Select in the "Add Timeline" field
3. uncheck "everyday"
4. set a start date and end date to be whatever you want. Apply your changes
5. Close the tagging modal. Open the tag settings for the same file.

There will be no start and end dates defined, but there should be based on performing the steps above.

[2015-01-22 17:57] alanclayton opened #241 "Apply button on the Timeline modal not working as expected"
Once I've made all the changes to the Timeline I select Apply. Once I select Apply I would expect the modal to close, but it doesn't. i have to select the close button in the top right of the modal.

Once I select Apply, the modal should close.

[2015-01-22 18:00] alanclayton commented on #238
@EnlightenedCode That doesn't make sense to me. Can you explain to me why this is expected?  Also, did you see the comment I added. If I just open a tag, then click save, a duplicate is created.

[2015-01-22 18:03] EnlightenedCode commented on #238
@alanclayton that last one you mentioned is a bug. it should not let you save unless it shows there is a change in the name or values.  as far as the how the update works. I agree, it could be done a different way, but that is not how the storage-server was written so I had to follow the API which gave no means to update values by an ID, so I the client had to be made to delete and update causing

[2015-01-22 18:16] ByronDarlison commented on #238
What meeting? And seriously, that is a bug and it needs to be fixed, server
side and wherever else is required.
On 22 Jan 2015 13:03, "Andrew Alanis" <notifications@github.com> wrote:

[2015-01-22 18:42] EnlightenedCode commented on #238
@ByronDarlison it will be fixed. I'll discuss on hipchat how we go about that fix and get that feedback from you.

[2015-01-22 20:57] EnlightenedCode commented on #240
@alanclayton this issue is now resolved (due to error of configuration of rva-test). test and confirm on rva-test

[2015-01-22 21:16] alanclayton commented on #240
@EnlightenedCode verified

[2015-01-22 21:16] #240 closed

[2015-01-22 21:19] alanclayton opened #242 "UI lets you specify a Start Date that is after the End Date in Tagging Timeline"
1. Select an item in Storage with a tag
2. Select Timeline
3. Set Start Date to be Feb 3 2015
4. Set End Date to be Jan 31 2015

The UI should inform the User that this is invalid because the Start Date is after the End Date

[2015-01-23 15:57] EnlightenedCode commented on #242
@alanclayton please confirm this is resolved in rva-test

[2015-01-23 15:58] EnlightenedCode commented on #239
@alanclayton please confirm this is resolved on rva-test

[2015-01-23 15:58] EnlightenedCode commented on #238
@alanclayton please confirm this is resolved on rva-test

[2015-01-23 15:59] EnlightenedCode commented on #237
@alanclayton please confirm this is resolved on rva-test

[2015-01-23 16:34] alanclayton commented on #238
@EnlightenedCode This is fixed for the case of changing the name of an existing Lookup Tag name, but

1. I'm no longer able to create a Freeform Tag
2. A duplicate Lookup Tag is still created if I modify a Lookup Value of an existing Lookup Tag

[2015-01-23 16:40] EnlightenedCode commented on #238
@alanclayton I will look into both of these thanks!

[2015-01-23 16:47] alanclayton commented on #237
@EnlightenedCode The workflow needs improvement. If I try to add a Lookup Value that is a duplicate of an existing, the UI let's me save the change and takes me back to the Tag Settings page. There was no explanation on what was wrong and we shouldn't allow the change to be saved.

I think this can be addressed with the other UI improvements you are going to be working on.  I'll move to the Follow

[2015-01-23 16:48] EnlightenedCode commented on #237
@alanclayton good point.  We need to agree what we do on the client side should this happen. the server automatically just takes unique values and add its because it is a very rare event and probably done by user error. but I do think we should at least tell the user and not let him save.

[2015-01-23 16:51] ByronDarlison commented on #237
@alan

[2015-01-23 16:53] ByronDarlison commented on #237
@alanclayton I don't understand what the complexity is. Why do we need to figure this out? Shouldn't this just not allow duplicates and warn the user? Thanks

[2015-01-23 16:55] EnlightenedCode commented on #237
@ByronDarlison @alanclayton I'll go ahead and make the button disable for duplicated values on the client. thanks

[2015-01-23 16:56] tejohnso commented on #237
@EnlightenedCode If you do that you should also include a message letting the user know why the button is disabled.

[2015-01-23 16:56] EnlightenedCode commented on #237
@tejohnso yes that is what I intend to do as well.

[2015-01-23 16:57] alanclayton commented on #237
@ByronDarlison no complexity and we can fix now. @EnlightenedCode .before you do anything can you describe exactly how you propose we address this?

[2015-01-23 16:59] ghislaineguerin commented on #237
@EnlightenedCode disable the button and show a message are ok with me.

[2015-01-23 17:00] alanclayton commented on #242
@EnlightenedCode Looks good, but I can set my end date to be the same as the start date. What will happen in this scenario?

[2015-01-23 17:03] EnlightenedCode commented on #237
@alanclayton The save button will be disabled automatically when someone types a duplicated value in the comma seperated list.  and an alert error message will display above the buttons saying "Values for a Lookup Tag must all be unique." is that a good message?

[2015-01-23 17:04] alanclayton commented on #237
@EnlightenedCode works for me. Thanks

[2015-01-23 17:05] EnlightenedCode commented on #242
@alanclayton good question.  I'll ask tyler and the others in hipchat what they think. I would think the displays will see that as start date beginning at 12:00am that day and end date ending 11:59pm that day if no time is entered.

[2015-01-23 17:19] EnlightenedCode commented on #242
@alanclayton Tyler mentioned that it our presentation area does timeline this way that when you put the start date and end date...it saves 12:00am on both dates when you don't specify a start time and end time.  It also lets you do that. So we should follow that and let it be so here as well.  Anything else stopping this bug from being resolved?

[2015-01-23 17:30] alanclayton commented on #242
@EnlightenedCode thanks. When you say "we should follow that" is there any work you need to do for Tagging to support that or is it already in place?

[2015-01-23 17:35] EnlightenedCode commented on #242
@alanclayton its already in place.

[2015-01-23 17:36] EnlightenedCode commented on #238
@alanclayton please screen cast #2. #1 should work now.  I am unable to reproduce #2

[2015-01-23 17:38] EnlightenedCode commented on #235
@alanclayton this should be resolved and the save button should now disable initially and only re-enable once a user puts a different name in order to save. it will not allow them to edit and save the same name. Thanks

[2015-01-23 17:48] alanclayton commented on #242
@EnlightenedCode Thanks!

[2015-01-23 17:48] #242 closed

[2015-01-23 17:59] alanclayton commented on #238
@EnlightenedCode All issues verified. Thanks

[2015-01-23 17:59] #238 closed

[2015-01-23 18:05] alanclayton opened #243 "No tags are highlighted, when informing User of tags no longer available"
1. add a Lookup value to an item in storage.
2. From Tag settings, change the Lookup value assigned in step 1
3. Go back to the Tagging modal for the Storage item and select in the Lookup and change the Lookup value field.
4. The Tagging Lookup modal is opened and shows the message, "The highlighted Tags are no longer available and must be first deleted to proceed."

There is no tag highlighted as

[2015-01-23 19:12] alanclayton commented on #235
@EnlightenedCode Verified. Thanks!

[2015-01-23 19:16] alanclayton commented on #235
@EnlightenedCode Similar to having duplicate Lookup Values, we need to give a message to the User. The UI will let me enter a duplicate name and select save at which point I'm taken back to Tag Settings.

[2015-01-23 19:30] EnlightenedCode commented on #237
@alanclayton this is now fixed staged on rva-test. please confirm

[2015-01-23 19:33] alanclayton commented on #237
@EnlightenedCode verified. Thanks

[2015-01-23 19:33] #237 closed

[2015-01-23 20:11] alanclayton opened #244 ""Clear All" doesn't work on the modal from Filter by Lookup Tag"
1. From Storage select the Filter on the search bar
2. When the filter criteria expands select in the "filter by Lookup Tag"
3. Enter any tag as your criteria and Apply
4. Select "Filter by Lookup Tag" again
5. The tag you selected from step 3 is shown.
6. Select "Clear All

The tag is not removed. When I select "Clear All" any tags that were present as part of the search criteria should be remove

[2015-01-23 20:20] alanclayton opened #245 "Clearing search criteria does not update the results to include all items in storage"
Search for an item by Timeline. Then clear the dates you entered. The items returned does not update to include everything in Storage.

[2015-01-23 20:20] alanclayton commented on #245
Hmmm...okay..it's working now. Disregard

[2015-01-23 20:20] #245 closed

[2015-01-23 20:24] alanclayton opened #246 "Tagged items that don't have a start/end date are not returned when searching by Timeline"
1. Tag an item  (don't specify a timeline)
2. Try to search for items by Timeline starting today.

The item that you set up in step 1 above is not returned in the results and should since it is implied that the file will play 24/7/365

[2015-01-23 20:44] EnlightenedCode commented on #244
@alanclayton this was confirmed to be working in our hangout discussion an hour ago right?

[2015-01-23 20:47] EnlightenedCode commented on #246
@alanclayton Are we sure this is how we want the filter to actually work? @ByronDarlison can you confirm that any file that does not have a timeline will still show up when you apply a filter? or should it automatically filter only files that have timelines on them?

[2015-01-23 20:57] EnlightenedCode commented on #235
@alanclayton this is now staged and needs to be confirmed. user will have a disabled save button with a name that is already in the type of tag they want to add (either lookup or freeform). it will display an error message saying "The Tag Definition name already exists". please confirm.

[2015-01-23 21:15] alanclayton commented on #246
@EnlightenedCode The use case for me is I want to see all items from Storage with the Lookup value "kansasbetterthantexas" that are scheduled to play from Jan 25 to Feb 3.

Storage items that have the Lookup value "kansasbetterthantexas" but no Timeline defined should fall into that criteria. Yes?

[2015-01-23 21:16] alanclayton commented on #244
@EnlightenedCode You are correct. It is verified.

[2015-01-23 21:16] #244 closed

[2015-01-23 21:48] alanclayton commented on #235
@EnlightenedCode verified.

[2015-01-23 21:48] #235 closed

[2015-01-23 22:08] EnlightenedCode commented on #246
@alanclayton I understand and I agree.  I'll go ahead and make the fix. thanks

[2015-01-23 22:47] alanclayton commented on #246
Only returning files that have a timeline specified is by design. Closing issue.

[2015-01-23 22:47] #246 closed

[2015-01-26 17:56] btfrise opened #248 "Save & Cancel buttons don't appear on the new Tag page"
Tested on Chrome iOS and Android.

Tag Settings -> New Tag page, no save or cancel buttons are available.

http://www.screencast.com/t/D2mzCwtksx

[2015-01-26 18:40] EnlightenedCode commented on #248
@alanclayton  @btfrise this is resolved now and the fix is on rva-test. please confirm thanks

[2015-01-26 18:44] btfrise commented on #248
Looks good. Thanks @EnlightenedCode

[2015-01-26 18:44] #248 closed

[2015-01-26 21:04] EnlightenedCode opened #249 "Sorting by Type column does not sort correcty for files with no extension"
In order to reproduce this bug you need to upload 2 files that have no file extensions.
name the first file starting with an "a".
name the second file starting with a "t".
you need to also have other folders and files in your bucket as well.
Upload these two files.
Click on the Type column to sort.
Notice that the sorting does not sort the two files with no extension together.

see screencast: htt

[2015-01-26 21:05] btfrise opened #250 "Move to trash failed - rva-test.appspot.com"
http://www.screencast.com/t/b18BYeVsL

When moving items to trash on company ID fa118ca4-07af-4425-a908-c01e066146ff I get the error "Move to trash failed". When restoring items from trash, nothing restores. This was encountered while QAing tagging on iOS.

FYI @alanclayton

[2015-01-26 21:08] alanclayton commented on #250
@btfrise I assume this is only occurring on the Test server. Can you confirm? @EnlightenedCode would the cause of this issue be related to tagging?

[2015-01-26 21:17] btfrise opened #251 "No confirmation modal when deleting tags."
When deleting either Freeform or Lookup tags, no confirmation is presented for deletion.

Chrome Mobile (iOS and Android)

1. Create tag (Lookup or Freeform)
2. Delete tag, no confirmation modal is presented

[2015-01-26 21:45] EnlightenedCode commented on #251
@btfrise @alanclayton is this in the Tag Settings page? Or are you talking about the "Clear All" button on the tagging modal ?

[2015-01-26 21:47] EnlightenedCode commented on #250
@alanclayton @btfrise I'll check that company Id....but I am unable to recreate this. I don't think it has anything to do with tagging.  next time go to the Network tab and get a screenshot of the request.

[2015-01-26 21:48] btfrise commented on #251
@EnlightenedCode I have updated the bug post. This is from the tag settings page when deleting individual tags.

Screenshot - http://www.screencast.com/t/PAMhR5BSJ9kr

[2015-01-26 21:50] EnlightenedCode commented on #250
@btfrise can you make a screencast showing this happens repeatably? is it just random?  I am able to delete and restore tagged files fine in my company-id

[2015-01-26 21:54] btfrise commented on #250
From @fjvallarino:

It seems in the past buckets for both test and production were created on the same instance (the information to decide which one belonged to each environment was somewhere else). Recently they were split into separate projects (one prod, one test), and the credentials are different, so when you try to do that operation it fails.

FYI @alanclayton @EnlightenedCode

[2015-01-26 21:56] EnlightenedCode commented on #250
@btfrise yes that is correct.  You have to delete your company-id bucket and create a new bucket on test.  This does not affect production so this is not a bug.  @alanclayton do you understand francisco's response? I'll leave it to you to close it.

[2015-01-26 21:58] EnlightenedCode commented on #251
@btfrise ok sorry, I think I copied code from when we didn't have the modal when I added the mobile buttons. I fixed it and it should be staged on rva-test. nice catch.

[2015-01-26 22:00] btfrise commented on #251
Verified, thanks @EnlightenedCode

[2015-01-26 22:00] #251 closed

[2015-01-26 22:01] alanclayton commented on #250
@EnlightenedCode Is there a chance of this happening to a users bucket on production?

[2015-01-26 23:36] EnlightenedCode commented on #250
@alanclayton no there is no chance.   this was only affecting our test environments.

[2015-01-27 00:36] #250 closed

[2015-01-28 15:00] btfrise opened #252 "When uploading file to folder, file uploads to root directory."
Steps to recreate:
1. Navigate to sub folder in storage
2. Select file to upload
3. Confirm file did not upload to sub folder
4. Navigate to root folder
5. Confirm file uploaded to root folder

Video overview - http://www.screencast.com/t/PsViys8l

How it should work:
1. Navigate to sub folder in storage
2. Select file to upload
3. Confirm file uploaded to sub folder

[2015-01-28 15:52] fjvallarino commented on #252
@btfrise This is fixed at: http://storage.risevision.com/~rvi/storage-client-stage0/index.html

[2015-01-29 01:38] alanclayton opened #256 "Bottom half of the filename for the last item can't be seen when in a Sub Company"
1. From Storage, switch to the sub-company "Rise Display"
2. Scroll down until you reach the last item in the list
3. The bottom half of the filename is getting cut off.  http://www.screencast.com/t/lZF30jo3O

This does not happen if when you are in the Company you belong to. I assume this is caused by the notification bar informing the User they are in a sub Company. That bar adds 25px to the CH

[2015-01-29 19:50] btfrise commented on #252
Verified and closed.

[2015-01-29 19:50] #252 closed

[2015-01-29 19:56] btfrise opened #258 "Files downloaded as folder-name-file-name."
File names are currently being appended when downloaded.
Currently:
1. Select a file in storage
2. Click download from action bar
3. Navigate to downloaded file
4. File is downloaded as directory-name-file-name.extension
http://www.screencast.com/t/V5lzTobbt

How it should work:
1. Select a file in storage
2. Click download from action bar
3. Navigate to downloaded file
4. File is downloaded as fi

[2015-01-29 20:08] alanclayton commented on #258
@tejohnso @fjvallarino I don't think this is a critical issue. Whoever takes this can you fit it into your schedule to fix over the next week?

@btfrise can you update our QA test to include this use case. Thanks

[2015-01-29 20:14] btfrise commented on #258
@alanclayton I've added the case.

[2015-01-30 02:50] fjvallarino commented on #258
@btfrise This is deployed at: http://storage.risevision.com/~rvi/storage-client-stage0/index.html

[2015-01-30 14:27] tejohnso opened #261 "Upload URI Request Failed"
If a user is logged in and authenticated the API should receive their user name, and the error would be "Upload URI Request Failed for [email address]"

In some rare cases no user information is present.  In that situation the error message should suggest that the user log out and back in again.  I could not reproduce this scenario.

[2015-01-30 14:32] ByronDarlison commented on #261
@tejohnso I am not so sure I follow the first part of this error description:

When would this happen and what would cause it? And, is the error that the User would see "Upload URI Request Failed for [email address]"?

And is there a defect with this first part?

And with regards to the second part, is that what is being worked on to correct now? And what is the error that the user would see in th

[2015-01-30 14:52] tejohnso commented on #261
Error would be in the upload status box as is currently.  No change there.

The error that the user would see if not logged in is the same, minus their email address.  It should be changed to "It appears that you are not logged in.  Please log out and try logging in again."

There is no defect on the first part. It indicates to the user that there is an error and shows them their email address jus

[2015-01-30 15:46] ByronDarlison commented on #261
We talked. We need plain english error messages for both situations:

Something went wrong and we couldn't upload your file. Please try again.

We can't tell who you are. Can you please logout and log back in and try again.

Thanks

[2015-01-30 15:54] tejohnso commented on #261
@fjvallarino Please change the english and spanish translations for upload-uri-request-failed and upload-uri-request-failed-email as per Byron's message above.  For the case where we have their email address just add it at the end in round brackets unless @ByronDarlison prefers something else.

[2015-01-30 15:56] ByronDarlison commented on #261
@tejohnso why do they need to know what their email address is?

And see the last email that I just sent you with the subscription error message. That one needs plain English as well.

@fjvallarino can you give me a list of all error messages we show? Put them in a shared doc. Thanks

[2015-01-30 16:11] tejohnso commented on #261
@ByronDarlison You're right.  For this case their email it isn't needed because we already confirmed their company status against their email address.  We used to handle all error scenarios in the same message and that's when we needed to include their email address.

[2015-01-30 16:46] fjvallarino commented on #261
@tejohnso @ByronDarlison The email address was added per @alanclayton suggestion. It was because of an issue of logging in with two Google accounts on the same browser window, which sometimes resulted in the wrong account being used. Since there was no fix for that problem, the email was added as a way to notify the user that the wrong account was being used.

[2015-01-30 18:25] EnlightenedCode commented on #228
@alanclayton since you gave the greenlight on release #1 this issue should be closed.

[2015-01-30 18:25] #228 closed

[2015-01-30 18:25] EnlightenedCode commented on #227
@alanclayton closing issue since we are releasing tagging v1 soon.  this issue is resolved

[2015-01-30 18:25] #227 closed

[2015-01-30 18:26] EnlightenedCode commented on #230
@alanclayton this issue is no longer occuring

[2015-01-30 18:26] #230 closed

[2015-01-30 18:27] EnlightenedCode commented on #239
@alanclayton this issue is no longer occuring confirmation is now given.

[2015-01-30 18:27] #239 closed

[2015-01-30 21:40] alanclayton opened #265 "Using the select all checkbox to select items returned from a search, then deleting, moves all items to trash"
Upload two files with the name "one.png" and "two.png". Once uploaded search for files with the name "one.png". You should see just a single file "one.png". Select the checkbox that you use to select all files. Then select Delete.

All items in Storage are moved to the trash. My expectation was that I was just deleting the file "one.png". We should fix this so that either we only delete the file s

[2015-01-30 22:07] alanclayton opened #266 "When in a sub company, you have to select Tag Settings 2x in CH to get there."
If you navigate to a sub-company, select back and forth between Storage and Tag Settings. You have to select Tag Settings 2x to go there and vice versa.

[2015-01-30 22:12] alanclayton opened #268 "CH get's cut off when you filter storage files by lookup tag"
Navigate to a sub company. Add a filter by lookup tag. When you do the CH will shift up as shown here, http://www.screencast.com/t/WWGRBp7U7. The only way to correct this is to refresh your page.

[2015-01-31 03:08] alanclayton opened #270 "CH disappears when a modal is opened over it on mobile"
Referencing the screenshot here, http://www.screencast.com/t/hDcbaIhBn0c1

First, select on "Filters" from Storage.

1.  Select "Add Lookup"
2.  Lookup Tag modal opens and shows over CH
3. Close the Lookup Tag modal and CH is gone.

One way to correct is to refresh the page.

[2015-01-31 03:12] alanclayton commented on #270
I can replicate CH disappearing when using the emulator tools in chrome dev tools. The difference is that in emulator I can swipe down to get CH back. On my mobile device, Samsung Galaxy S5, I can't do that.

Chrome ver 40.0.2214.90 is what I have on my Galaxy.

[2015-01-31 03:26] alanclayton commented on #270
Okay, I'm bored. Here is a video of this happening http://www.screencast.com/t/GwcaZis8K. Captured this using the Live screencast feature outlined here, https://developer.chrome.com/devtools/docs/remote-debugging .

[2015-01-31 21:04] EnlightenedCode commented on #270
@alanclayton this was an issue that was happening earlier in our use of modals with the CH.  @ghislaineguerin and me fixed a bug with all other modals...however I think this is a new modal I added later. so I need to apply the fix so that this bug doesn't appear.

[2015-01-31 21:15] EnlightenedCode commented on #270
@alanclayton it is a one liner fix and I already got it reviewed and ready to merge.  here is the fix staged: http://storage.risevision.com/~rvi/storage-client-stage1/index.html#/ go ahead and confirm if the staging area fixes this.

[2015-02-01 21:57] alanclayton commented on #270
Verified.  @EnlightenedCode do you have a card on the QA board for this one?

[2015-02-02 15:48] EnlightenedCode commented on #270
@alanclayton I created one and its right here https://trello.com/c/vrd4dBX4/176-bugfix-ch-dissappears-in-mobile-on-filter-issue-270

[2015-02-02 17:11] #270 closed

[2015-02-03 16:41] tejohnso opened #273 "Incorrect modal title"
The "New Folder" button opens a modal with a title of "Tagging".

Functionality for folder creation is okay.

[2015-02-03 17:10] EnlightenedCode commented on #273
@tejohnso I tested this on production. it is deployed and fix

[2015-02-03 17:13] #273 closed

[2015-02-03 22:59] EnlightenedCode opened #275 "scroll bar on mobile view does not work"
@ghislaineguerin I on mobile view you get two scroll bars on a long file list so you won't be able to scroll correctly

[2015-02-04 20:12] btfrise opened #276 "Users with expired trials cannot download from storage."
1. Switch to company with expired trial in storage
2. Select item from storage
3. Click download from action bar
4. Observe error message "Access DeniedAccess Denied"
5. No file is downloaded.

Users should be able to download their content from storage even if an account is canceled or a trial has expired.

[2015-02-04 20:47] tejohnso commented on #276
This was happening in the case of some older files in a scenario that I hadn't thought of.  The problem has been corrected.

[2015-02-04 20:48] alanclayton commented on #276
@btfrise can you verify.

[2015-02-05 17:51] mfisher11 opened #277 "In testing version: unable to get ellipsis-shortened tag names in modal"
Expected results:  long tag names are supposed to be truncated and show an ellipsis.
(screenshot from trello)  http://goo.gl/Kdy9KY

Results I get:  long tag names extend beyond edges of modal.
http://goo.gl/SPWMrh
http://goo.gl/nvAewG  (developer console: sources -> sources)

Steps to reproduce:
1. New incognito window  (it is the first/only one, so no existing data is shared)
2. Open developer t

[2015-02-05 18:08] mfisher11 opened #278 "In testing version: warning/notice about deleted tag on a file"
Expected results:  a notice about invalid tags.
http://goo.gl/JtDnML   (from trello)   or
http://goo.gl/pHM11C

Results I get:  no message about tags being invalid.
http://goo.gl/2YdSf0    (desktop, cache disabled)
http://goo.gl/kQRwgX  (emulated iphone4, cache disabled)
http://goo.gl/BPIhhi      (android hardware emulator)

Steps to reproduce:
1. New incognito window (it is the first/only one, so

[2015-02-05 18:19] EnlightenedCode commented on #278
@mfisher11 you only receive the message when you click edit on lookup tags... please confirm that you see the message on THIS edit screen and not the main screen. The main screen should not have any alert.

[2015-02-05 18:20] EnlightenedCode commented on #278
![image](https://cloud.githubusercontent.com/assets/4974337/6066245/ee7c5c86-ad28-11e4-9b40-06b59ae4fef3.png)

[2015-02-05 18:20] EnlightenedCode commented on #278
@mfisher11 go to that same screen and click edit (the pencil Icon).  that is where you should see the message. and the Clear All Invalid Tags link

[2015-02-05 18:24] mfisher11 commented on #278
Okay.  Looking in the wrong place, then.  Notice shows up as expected.

[2015-02-05 18:24] #278 closed

[2015-02-05 18:26] EnlightenedCode commented on #277
@mfisher11 this cannot be reproduced on my chrome emulator on my android note III on my personal phone. please hipchat me.

[2015-02-05 19:19] alanclayton commented on #277
@mfisher11 Can you confirm the status of this one? Thanks

[2015-02-05 20:59] mfisher11 commented on #277
Issue has been resolved.

[2015-02-05 20:59] #277 closed

[2015-02-06 18:09] alanclayton commented on #276
@btfrise what is the status of this?

[2015-02-06 18:10] alanclayton commented on #275
@ghislaineguerin is this ready for QA?

[2015-02-06 18:11] ghislaineguerin commented on #275
@alanclayton yes.

[2015-02-06 18:12] alanclayton commented on #266
verified

[2015-02-06 18:12] #266 closed

[2015-02-06 18:13] alanclayton commented on #275
@ghislaineguerin I don't see a card on the QA board. Can you create one. Thanks

[2015-02-06 18:17] btfrise commented on #276
@alanclayton Confirmed fixed. Closing.

[2015-02-06 18:17] #276 closed

[2015-02-06 18:48] EnlightenedCode commented on #275
@alanclayton alan this was only an additional update on common-style... and it was merged to master during the QAing of release #2 for tagging.  so you can confirm this on production if the bug is still there. It shouldn't be since the releases we did today should have picked up the latest common-style master version.

[2015-02-06 19:11] EnlightenedCode opened #281 "Scrolling bug on desktop (minor)"
@ghislaineguerin this is a minor bug so don't put a card for it yet.  I'm just reporting it here.  Any ideas on what can be done here to prevent it...Honestly I think it is merely because of the way we have common header in a seperate iframe...this might go away when we do away with RVA. To reproduce. go to production in storage... make sure you have a long file list to scroll down on...  click in

[2015-02-06 19:12] EnlightenedCode commented on #268
@alanclayton this is a minor bug and might be fixed with the fix on this bug as well. https://github.com/Rise-Vision/storage-client/issues/281 it involves getting rid of common header in it's own iframe. this is what is causing a lot of "common header" dissappearing and scrolling issues. though they are minor

[2015-02-06 19:45] alanclayton commented on #275
@mfisher11 can you verify this is fixed in production. Thanks

[2015-02-06 20:02] mfisher11 commented on #275
@alanclayton I think it's fixed.  I only see one scroll bar on the right, and scrolling seems to work in general.

[2015-02-06 20:02] #275 closed

[2015-02-09 21:10] tejohnso opened #282 "Select All"
When the filter bar is used to filter the list of files, the select all checkbox acts against the full list of files rather than the filtered list.

[2015-02-09 21:11] tejohnso opened #283 "Multiple download"
In some cases, initiating a download of multiple files results in some files being skipped.

[2015-02-09 22:14] tejohnso commented on #282
Duplicate:
https://github.com/Rise-Vision/storage-client/issues/265

[2015-02-09 22:14] #282 closed

[2015-02-17 14:58] btfrise opened #287 "ce-storage.risevision.com "Create initial storage folder" button not appearing."
Current problem:
1. Create new gmail account
2. Log in to ce-storage.risevision.com using new gmail account
3. Allow access from ce-storage.risevision.com to gmail account
4. Click upload button, upload a test item
5. Test item does not appear in storage, no Create initial storage folder prompt, no creation of trash folder.

Video of problem - http://www.screencast.com/t/7yDi4cfw

Should function:

[2015-02-17 15:21] tejohnso commented on #287
"Create initial storage folder" button is no longer in use.  The initial folder should be created upon first file upload.

[2015-02-17 15:29] btfrise commented on #287
@tejohnso Acknowledged. I'll open a new issue.

[2015-02-17 15:29] #287 closed

[2015-02-17 15:32] btfrise opened #288 "ce-storage.risevision.com Initial file upload does not create storage folders."
Current problem:
1. Create new gmail account
2. Log in to ce-storage.risevision.com using new gmail account
3. Allow access from ce-storage.risevision.com to gmail account
4. Click upload button, upload a test item
5. Test item does not appear in storage, no trash folder is created, subscription trial becomes active.

Video of problem - http://www.screencast.com/t/3ln6VJrW3K0A

Should function:
1.

[2015-02-17 17:53] tejohnso commented on #288
I think this may have been due to some backend  changes that went into production this morning.

I've updated the ce-storage bulid to use the latest master client and couldn't duplicate the issue.
@btfrise Please check it out.
@alanclayton / @ByronDarlison FYI

[2015-02-17 19:47] btfrise commented on #288
@tejohnso Looks good now. Thanks!

[2015-02-17 19:47] #288 closed

[2015-03-05 17:17] btfrise opened #298 "Storage modal non-responsive with items."
Steps to reproduce:
1. Add an image or video item to placeholder
2. Open in-app storage to select content for that item
3. Select item
4. Try to exit out of modal
Result:
Storage items cannot be selected. Exit (X) button at top right is not responsive.

How it should work:
Storage items should be able to be selected through the in-app storage modal. Exit button should close storage modal.

Link to

[2015-03-05 18:33] btfrise commented on #298
This issue has been resolved. @tejohnso @mfisher11 can you summarize the cause of the issue before I close? Thanks.

[2015-03-09 19:44] mfisher11 opened #301 "Removing iFrame prevents scrolling to see all content."
Steps to reproduce:
1. Go to http://storage-stage-0.risevision.com/
2. Try to scroll up or down with mouse wheel, arrow keys, or page up/down.

Result:
Unable to scroll (nothing happens).

How it should work:
It should scroll if there is more content than can fit on the screen.

Link to presentation:
N/A

OS
Xubuntu 14.04

Chrome Version:
Version 41.0.2272.76 (64-bit)

[2015-03-09 20:15] tejohnso commented on #301
@fjvallarino In my browser I was able to fix this by adding overflow:auto to .storage-selector-iframe-full

[2015-03-09 21:12] mfisher11 commented on #301
Issue resolved.  Closing report.

[2015-03-09 21:12] #301 closed

[2015-03-12 12:17] tejohnso commented on #195
@btfrise I think this can be closed now. Please confirm.

[2015-03-12 12:18] #192 closed

[2015-03-12 12:19] tejohnso commented on #188
@alanclayton I think this can be closed now.  Please confirm.

[2015-03-12 12:19] tejohnso commented on #147
@btfrise I think this can be closed now. Please confirm.

[2015-03-12 12:20] #137 closed

[2015-03-12 12:23] tejohnso commented on #148
@btfrise @ByronDarlison can this be closed or do we need to remove all loading  messages and use spinners instead?

[2015-03-12 12:23] tejohnso commented on #258
@btfrise can this be closed?

[2015-03-12 12:25] tejohnso commented on #243
@fjvallarino can you check into this?

[2015-03-12 12:26] tejohnso commented on #298
@btfrise unfortunately I don't recall what the issue was here or when/how it was resolved.

[2015-03-12 12:27] #281 closed

[2015-03-12 12:29] tejohnso commented on #265
@fjvallarino can you look into this?

[2015-03-12 12:30] tejohnso commented on #261
This was cleaned up with our error message overhaul.

[2015-03-12 12:30] #261 closed

[2015-03-12 12:31] tejohnso commented on #256
@fjvallarino can you check into this?

[2015-03-12 12:35] ByronDarlison commented on #148
@tejohnso first question. Why are you using something else other than the standard? Thanks

[2015-03-12 12:49] tejohnso commented on #148
@ByronDarlison as per your message above from Nov26 I don't think there is a standard for when to include an informative message vs not to.  If there is a defined standard, I'd like to take a look at it.

[2015-03-12 12:51] ByronDarlison commented on #148
@tejohnso the standard is a spinner. What I am asking is why do we need an informative message. What is it that we are informing the user about?

[2015-03-12 12:57] tejohnso commented on #148
@ByronDarlison Any process that takes significant time.  Could be logging in, loading files, checking company authorization, deleting files, etc.  I think the conclusion is that we don't show those messages and instead show a spinner.  And if those states are taking very long to process, a message to the user isn't going to help.  The solution is to make it take less time.  Correct?

[2015-03-12 13:02] ByronDarlison commented on #148
@tejohnso sorry. I am still lost here. When I start storage the only thing I see in terms of an informative message is "loading..." which from my perspective isn't information. It is the same thing as a spinner. If that is the case why would do something different? The standard is the spinner and the standard, unless changed everywhere else, is what we need to use.

And yes, everything needs to go

[2015-03-12 13:05] tejohnso commented on #148
@fjvallarino Let's go over these message bars one by one and start removing them.  One thing we want to make sure we avoid is having a spinner pop up and go away in rapid succession for multiple events.

[2015-03-12 13:16] tejohnso commented on #148
@ByronDarlison and @fjvallarino As an example aside from the "loading..." message, the "Checking third party cookies" message should be removed.

[2015-03-13 15:50] btfrise commented on #188
@tejohnso @alanclayton I've tested uploading 500m-6g files to storage with no errors. Everything looks great.

Closing.

[2015-03-13 15:50] #188 closed

[2015-03-16 16:12] AlexKolenoff opened #305 "Storage subscription status does not update when switching between companies"
Steps to reproduce:
1. While logged into a company with either a Subscribed or Expired Storage subscription status, click on Storage and note the status.
2. From that same Storage page switch to a company that you know has a different Storage subscription status.

Result:
The subscription status doesn't update when you switch to a company with a different subscription status.

How it should work:

[2015-03-16 16:19] AlexKolenoff opened #306 "When clicking to Subscribe to Storage, the subscription box is very small"
Steps to reproduce:
From a company that does not already have a Storage subscription, click to go to Storage, then click Subscribe

Result:
The page where you select your options to subscribe is a small box in the upper-left corner

How it should work:
The page with purchase options should be expanded so it does not need scroll bars to move around in

Example of what is currently happening:
http:/

[2015-03-16 21:15] #298 closed

[2015-03-16 21:53] tejohnso commented on #306
@AlexKolenoff This has been corrected.  Please confirm.

[2015-03-17 14:44] AlexKolenoff commented on #306
@tejohnso I am having difficulty confirming right now because any company that I switch to that don't have a subscription show they have a subscription.

[2015-03-17 16:55] tejohnso opened #307 "Copy URL feature is not sub-company aware."
After switching to a sub-company, the copy url feature shows a link that has the correct file name but the incorrect bucket.

[2015-03-18 14:44] tejohnso commented on #195
@btfrise please confirm

[2015-03-19 19:31] fjvallarino commented on #256
@alanclayton Is this issue still happening to you? I just uploaded several files to a subcompany and the scrollbar displays correctly.

[2015-03-19 19:47] alanclayton commented on #256
@fjvallarino Issue is no longer occurring. Thanks

[2015-03-19 19:47] #256 closed

[2015-03-19 20:14] #138 closed

[2015-03-19 20:15] fjvallarino commented on #187
@AlexKolenoff Can we close this issue?

[2015-03-19 20:16] fjvallarino commented on #148
@btfrise This is fixed

[2015-03-19 20:16] fjvallarino commented on #140
@alanclayton Can we close this issue?

[2015-03-19 20:18] fjvallarino commented on #90
@tejohnso @ghislaineguerin I think this issue is no longer valid. Can we close it?

[2015-03-19 20:22] btfrise commented on #147
Confirmed, closing.

[2015-03-19 20:22] #147 closed

[2015-03-19 20:22] btfrise commented on #148
@fjvallarino confirmed, closing.

[2015-03-19 20:22] #148 closed

[2015-03-19 20:22] fjvallarino commented on #241
@alanclayton Is this issue still happening to you?

[2015-03-19 20:22] btfrise commented on #195
@tejohnso This is confirmed. Closing.

[2015-03-19 20:22] #195 closed

[2015-03-19 20:23] btfrise commented on #258
confirmed, closing.

[2015-03-19 20:23] #258 closed

[2015-03-19 20:23] fjvallarino commented on #225
@ghislaineguerin Is this issue still valid? Can we close it?

[2015-03-19 20:26] fjvallarino commented on #236
@alanclayton Is this issue still valid?

[2015-03-19 20:37] ghislaineguerin commented on #225
We can close it.

On Thu, Mar 19, 2015 at 4:24 PM, Francisco Vallarino <
notifications@github.com> wrote:

[2015-03-19 20:39] tejohnso commented on #87
Should work on localhost as described in README.md.  Closing.

[2015-03-19 20:39] #87 closed

[2015-03-19 20:50] #225 closed

[2015-03-19 20:53] AlexKolenoff commented on #187
@fjvallarino Yes, thanks.

[2015-03-19 20:53] #187 closed

[2015-03-19 20:54] ghislaineguerin commented on #90
@fjvallarino We can close it.

[2015-03-19 20:56] #90 closed

[2015-03-19 21:03] fjvallarino commented on #249
Cannot reproduce the issue. Closing it.

[2015-03-19 21:03] #249 closed

[2015-03-19 21:06] fjvallarino commented on #268
@alanclayton This one does not seem to be happening anymore. Could you confirm?

[2015-03-20 00:50] alanclayton commented on #268
@fjvallarino  Agreed. No longer an issue.

[2015-03-20 00:50] #268 closed

[2015-03-20 00:52] alanclayton commented on #241
@fjvallarino no longer occurring.

[2015-03-20 00:52] #241 closed

[2015-03-20 03:55] alanclayton commented on #236
@fjvallarino Yes, it is. The columns can't be sorted. Thanks

[2015-03-20 03:56] alanclayton commented on #140
@fjvallarino Yes, you can close.

[2015-03-20 13:41] #140 closed

[2015-03-24 17:21] mfisher11 commented on #305
@alanclayton @AlexKolenoff This is fixed and deployed.  Closing issue.

[2015-03-24 17:21] #305 closed

[2015-03-24 17:50] mfisher11 commented on #307
@alanclayton This is fixed and deployed. Closing issue.

[2015-03-24 17:50] #307 closed

[2015-03-24 17:51] mfisher11 commented on #236
@alanclayton This is fixed and deployed. Closing issue.

[2015-03-24 17:51] #236 closed

[2015-03-25 02:13] fjvallarino commented on #306
@AlexKolenoff The issue of subscription status not updating when switching to a sub company has been fixed. Could you check this one? Thank you!

[2015-03-25 13:00] AlexKolenoff commented on #306
@fjvallarino Yep, it looks correct now, thanks!
@tejohnso The subscription box is fine as well.

[2015-03-25 13:00] #306 closed

[2015-03-25 13:49] mfisher11 commented on #243
@alanclayton This issue has been resolved.

[2015-03-25 13:49] #243 closed

[2015-03-25 13:51] mfisher11 commented on #265
@alanclayton This issue has been resolved.

[2015-03-25 13:51] #265 closed

[2015-03-25 16:59] tejohnso opened #322 "Flash of unexpected title text on page load"
1.  Access storage.risevision.com.
2.  Look at the tab title.
3.  Reload while looking at the tab title.
4.  Notice it says "{{metatag.title}} before showing the expected page title.

@rodrigopavezi / @fjvallarino is this expected behaviour?  Why does something as simple as the document title need to be a programmed value?

[2015-03-25 17:36] fjvallarino commented on #322
@tejohnso Based on a conversation I had with @rodrigopavezi, this is expected behaviour.

[2015-03-25 17:47] tejohnso commented on #322
@rodrigopavezi can you clarify what is going on there?  Wondering why page title needs to be dynamic like that.

[2015-03-30 21:35] btfrise opened #326 "Common header appears in storage modal, makes modal unresponsive."
Steps to reproduce:
1. Add a widget that uses storage selector to your presentation
2. Click the storage selector button
3. View storage modal

Result:
Notice that the storage modal is not responsive and only fills a small portion of the screen, the common header also appears - http://www.screencast.com/t/Y0TmwDEQ88r9

How it should work:
The modal should be fully responsive, there should be no co

[2015-03-31 06:49] ByronDarlison commented on #326
@tejohnso @fjvallarino can you let me know the plan for this defect? Thanks

[2015-03-31 13:30] fjvallarino commented on #326
@ByronDarlison @tejohnso I don't actually think it's an issue on storage-client side. On http://rva.risevision.com, when creating a new presentation and selecting a file (image or video), the correct modal file selector is displayed. I don't know where to test this widget scenario, but I think probably the url they are using to display the modal selector is not correct (since modal does not includ

[2015-03-31 15:55] ByronDarlison commented on #326
@fjvallarino okay. Do you think this defect should be moved to @alex-deaconu under RVA? Thanks

[2015-03-31 16:07] fjvallarino commented on #326
@btfrise Is this issue happening on rva? I tested creating a presentation and adding a placeholder. From there, after choosing image/video I get the standard file selector without Common Header.

[2015-03-31 16:12] alex-deaconu commented on #326
@fjvallarino @tejohnso if I understand correctly, you guys have changed the Storage Modal url that the RVA should use? Correct?

Thanks.

[2015-03-31 16:20] fjvallarino commented on #326
@alex-deaconu No, we have not changed the URL.

[2015-03-31 16:22] tejohnso commented on #326
@alex-deaconu you might be thinking of the staging and rva-test modal URLs.   Those were changed.

[2015-03-31 16:26] alex-deaconu commented on #326
@tejohnso @fjvallarino got it. I can confirm, the RVA's storage selector is working as expected.

After taking a look at the RVA, I think this is an issue specific to the Storage selector used for Widgets (https://github.com/Rise-Vision/component-storage-selector).

@ByronDarlison FYI.

Thanks.

[2015-03-31 16:30] ByronDarlison commented on #326
@alex-deaconu okay. Sounds like this is an issue for @donnapep / @stulees ? Let us know. Thanks

[2015-03-31 16:44] btfrise commented on #326
@fjvallarino Yes, this is happened in rva.

[2015-03-31 16:50] stulees commented on #326
@btfrise Are you experiencing this in rva-test or rva production? Also, did you only notice this with Video Widget (your screenshot) or other Widgets also? Thanks

[2015-03-31 17:32] btfrise commented on #326
@stulees This is on production. I've just reviewed and it appears on all widgets that use the storage selector.

[2015-03-31 17:59] stulees commented on #326
@fjvallarino @tejohnso Can you confirm this is the correct URL for production storage modal HTML - https://github.com/Rise-Vision/component-storage-selector/blob/master/src/config/prod.js#L3

[2015-03-31 18:04] fjvallarino commented on #326
@stulees The correct url is http://storage.risevision.com/modal.html#/files/{companyId}

[2015-03-31 18:23] stulees commented on #326
@btfrise @fjvallarino Thanks. The `companyId` already does get appended here - https://github.com/Rise-Vision/component-storage-selector/blob/master/src/dtv-storage-selector.js#L52

The production value of the modal URL used by storage selector component is correct. Functionality in this component has remained the same for a while. I'm not sure why common header would be appearing, the storage sel

[2015-03-31 18:25] fjvallarino commented on #326
@stulees Based on this https://github.com/Rise-Vision/component-storage-selector/blob/master/src/config/prod.js#L3, there is an extra "storage-" part in the name that should be removed.

[2015-03-31 18:38] stulees commented on #326
@fjvallarino Ah, didn't catch that. Did this change when the URL for rva-test storage modal last changed?

@btfrise Please log a bug to https://github.com/Rise-Vision/component-storage-selector for incorrect storage modal URL.

[2015-03-31 18:46] fjvallarino commented on #326
@stulees No, the url for modal file selector has always been that one (modal.html). In fact, I'm surprised something is actually displayed, since storage-modal.html does not exist anymore (it was used internally by storage fullscreen).

[2015-04-02 18:12] btfrise commented on #326
I have relogged this bug in the storage-selector repo. I am closing this issue. FYI @stulees

[2015-04-02 18:12] #326 closed

[2015-04-09 14:18] mfisher11 opened #339 "Applying a tag/timeline to a newly uploaded file fails unless content is reloaded first."
@btfrise This affects production as well as the staged version I was QA'ing.

Steps to reproduce:
1. Upload a file to storage.
2. Immediately after transfer is completed (don't navigate away/refresh/etc), apply a tag (lookup or freeform) or add a timeline.

Result:
You get the following error message:  "You don't have access to that action. Please contact your Administrator to give you the access

[2015-04-10 13:35] fjvallarino commented on #339
@mfisher11 This is fixed at: https://storage-stage-1.risevision.com

[2015-04-10 14:30] tejohnso commented on #283
@AlexKolenoff Can you confirm that this is corrected now?

[2015-04-10 18:06] mfisher11 commented on #339
@fjvallarino This is confirmed fixed, however, the problem of not being able to create new folders exists here.

[2015-04-10 18:08] fjvallarino commented on #339
@mfisher11 I will not deploy this fix until the other card is deployed. Then I will rebase.

[2015-04-10 22:00] mfisher11 opened #341 "Unable to create new folder (clicking save in the modal does nothing)"
Steps to reproduce:
1.  Go to https://storage-stage-1.risevision.com/
2.  Click "New Folder"
3.  Type a name.
4.  Click "Save"

Result:
Nothing happens.

How it should work:
Modal should disappear and folder is created.

Link to Presentation:
N/A

OS:
Xubuntu 14.04 (and others)

Chrome Ver:
Version 41.0.2272.118 (64-bit)

[2015-04-12 19:54] tejohnso opened #342 "Save button for tag setting not visible in narrow screen layout"
I noticed this during e2e testing.

1.  Open http://storage.risevision.com in a decently sized window.
2.  Click Tag Settings
3.  Click Add Tag

Notice the Save / Cancel buttons are visible at the bottom right.

4.  Reduce the window width until they disappear.

Expectation:  They should no disappear.

@fjvallarino / @ghislaineguerin FYI

[2015-04-13 15:23] mfisher11 commented on #341
This has been resolved.  Closing issue.

[2015-04-13 15:23] #341 closed

[2015-05-11 18:51] mfisher11 opened #359 "Filter does not clear when clicking the adjacent "x" button"
(observed in image folder widget, test version 0.1.1)

Steps to reproduce:
1. From the configuration modal in the image folder widget, click on the storage browse button (to the right of the URL)
2. Click on the find/magnifying glass.
3. Type the name of an existing folder (you will see the list reduce while typing)
4. Click on the smaller "x" to the right of the text entry field.

Result:
Text en

[2015-05-12 18:53] btfrise commented on #359
Confirmed fixed. FYI @fjvallarino

[2015-05-12 18:53] #359 closed

[2015-05-14 19:50] mfisher11 opened #362 "Clicking on the upload button in the storage modal does not open (local) file chooser window"
** this was observed in the newly deployed version of the image widget **

Steps to reproduce:
1. Add image widget to a presentation.
2. Click on the link to configure the widget.
3. Click on the storage browser button (to right of URL text entry box)
4. Click on the button to upload a file.

Result:
Nothing happens.

How it should work:
Local file selector should appear to choose file to upload.

[2015-05-14 20:08] mfisher11 opened #363 "Storage modal contents change when browser switches to a different tab and then back"
When in a sub-company with the storage modal open and showing files (for the current company), switching to a different tab and back again will cause the file list to refresh and show files in the user's (top level) company.

Steps to reproduce:
0. Open a presentation with a sub-company.
1. Add image widget to a presentation.
2. Click on the link to configure the widget.
3. Click on the storage br

[2015-06-01 17:33] brianloosbrock opened #368 "Store window is not showing entirely when clicking on subscribe from Storage"
See here https://db.tt/q5yPF4nf. This is only happening in Storage from what I can see. If I go to Editor or the Support app I see the Store window normally.

@tejohnso @fjvallarino Please let me know who can take this and I'd like to treat it as escalated as its preventing people from purchasing. And can you let us know what caused this?

@robb-price FYI, can you take it from here?

[2015-06-01 17:35] fjvallarino commented on #368
@brianloosbrock I'll take it.

[2015-06-01 17:45] robb-price commented on #368
@brianloosbrock Sure. @fjvallarino Let me know when/where it is ready to test, and I can test it out.

Thanks!

[2015-06-01 20:58] brianloosbrock commented on #368
@fjvallarino Can I get an update on this? Thanks

[2015-06-01 21:04] fjvallarino commented on #368
@brianloosbrock @robb-price The issue is fixed on https://storage-stage-rva-test.risevision.com (Storage app). You can also check on http://rva-test.appspot.com for In app selector.

The issue seems to be related to a CSS minification bug on common-style's build process. I updated the minification plugin and now everything seems correct. Sorry I took so long to answer, but I'm puzzled as to why we

[2015-06-01 21:12] robb-price commented on #368
Tested at https://storage-stage-rva-test.risevision.com/ and http://rva-test.appspot.com, everything looks as expected. @fjvallarino Let's deploy this first thing in the AM tomorrow if that works for you.

Thanks!

[2015-06-02 13:45] robb-price commented on #368
Verified in production and closed.

[2015-06-02 13:45] #368 closed

[2015-06-04 14:37] fjvallarino commented on #339
@mfisher11 Can we close this issue? Thanks!

[2015-06-04 14:38] fjvallarino commented on #362
@mfisher11 Can we close this issue? Thanks!

[2015-06-04 14:38] fjvallarino commented on #363
@mfisher11 Can we close this issue? Thanks!

[2015-06-04 14:38] fjvallarino commented on #342
@tejohnso Can we close this issue? Thanks!

[2015-06-04 14:39] fjvallarino commented on #322
@tejohnso This has been reverted. Can we close this issue? Thanks!

[2015-06-04 14:39] fjvallarino commented on #283
@tejohnso Can we close this issue? Thanks!

[2015-06-04 14:43] #322 closed

[2015-06-04 14:43] #283 closed

[2015-06-04 14:43] #342 closed

[2015-06-04 15:02] mfisher11 commented on #363
This issue has been resolved.

[2015-06-04 15:02] #363 closed

[2015-06-04 15:18] mfisher11 commented on #362
This issue has been resolved.

[2015-06-04 15:18] #362 closed

[2015-06-04 15:27] mfisher11 commented on #339
Tag functionality has been removed.

[2015-06-04 15:27] #339 closed

[2015-06-19 16:12] btfrise opened #373 "File Throttling tooltip does not appear in Storage App."
Steps to reproduce:
1. Upload a file to storage
2. Trigger a throttle on that file by accessing it in a browser and refreshing the page

Result:
When the storage account is accessed through storage.risevision.com, a red exclamation point appears next to the throttled file. No tooltip is displayed.

When the storage account is accessed through the storage selector in a widget, a red exclamation poi

[2015-06-19 16:13] btfrise commented on #373
FYI @ByronDarlison

Storage throttling has not been an issue lately, so this issue isn't a game breaker for us. Please consider that when assigning priority.

[2015-06-19 19:17] ByronDarlison commented on #373
@btfrise thanks. @tejohnso @fjvallarino I would like to leave this one until after we ship the Offline Player to Customers. Do you guys concur? @btfrise if it becomes a common issue let us know and we will move it up. Thanks!

[2015-06-19 20:09] tejohnso commented on #373
Okay by me

[2015-07-10 17:37] mfisher11 opened #375 "Uploading a file, if interrupted, can be stored in an incorrect location"
Steps to reproduce:
1. Log into storage.
2. Create a sub-folder.
3. Enter that sub-folder.
4. Start uploading a file.
5. Simulate network interruption (unplug ethernet cable, turn off interface, etc)
6. Wait until the interruption is detected (retry button appears)
7. Reconnect
8. Tell it to retry/continue file upload.

Result:
Directory name will be duplicated (as another level in) and the file w

[2015-07-10 18:00] ByronDarlison commented on #375
@mfisher11 thanks for finding this! @tejohnso @fjvallarino can you let us know your thoughts on this and if we can put it at the top of the queue. This is messing a user up badly. Thanks!

FYI @btfrise

[2015-07-10 19:11] fjvallarino commented on #375
@mfisher11 A fix has been deployed to https://storage-stage-0.risevision.com

[2015-07-10 21:05] mfisher11 opened #377 "If opening the storage app from the storage modal, you will sometimes get a redirect_uri_mismatch"
Steps to reproduce:
0. Ensure cache and any authentication tokens are cleared.
1. Open the storage modal from a widget.
2. At the top, click on "open in storage app".

Result:
You will be prompted to authenticate with google, then will get a redirect_uri_mismatch error

How it should work:
You may or may not be prompted to authenticate, but you should the storage app should open successfully and w

[2015-07-10 21:17] mfisher11 commented on #375
@fjvallarino Looks good, sir!  Testing on the stage location does not exhibit the problem.

[2015-07-10 21:20] fjvallarino commented on #375
@mfisher11 Deployed.

@btfrise @ByronDarlison @tejohnso FYI

[2015-07-10 21:36] mfisher11 commented on #375
@fjvallarino Smoke test passed.  This now works in production.  Closing bug.

@btfrise @AlexKolenoff @justinsmith1 FYI

[2015-07-10 21:36] #375 closed

[2015-07-10 23:04] ByronDarlison commented on #375
@fjvallarino thank you so much for taking care of this while on your holiday!

[2015-07-22 16:47] brianloosbrock opened #380 "Start trial button getting cut off in Storage Selector modal"
**How it works now**
Start trial button is below the modal break .
![image](https://cloud.githubusercontent.com/assets/6887543/8831246/c1922b44-3066-11e5-9906-c440915d450b.png)

**How it should work**
The entire message should be visible above the modal window so Users can start a trial. @RV-Adrian It looks to be approx 400 pixels of high that we need to stay within. Can you tweak the message and

[2015-07-22 17:04] RV-Adrian commented on #380
@brianloosbrock @fjvallarino Yep, I can adjust for that now. Another option would be increasing the height of the modal itself from 500px to 680px as seen here: http://goo.gl/h8HQPq

![image](https://cloud.githubusercontent.com/assets/11826611/8831706/1fe5c222-3072-11e5-9fbd-fa82f1f800fb.png)

Any thoughts?

[2015-07-22 17:07] brianloosbrock commented on #380
@fjvallarino I'll defer to you on what you want to do, just let us know as I'd like to resolve this today. Thanks

[2015-07-23 13:20] brianloosbrock commented on #380
@fjvallarino Lets deploy this fix when your ready. Thanks

[2015-07-23 15:44] brianloosbrock commented on #380
Fix confirmed. Closing.

[2015-09-30 20:54] mfisher11 opened #389 "When trying to specify which image should be used as an image item, not all of the images in storage are visible to choose from"
**THIS REFERENCES A LIVE PRESENTATION AND COMPANY STORAGE. DO NOT MODIFY

Steps to reproduce:
1) Open this presentation: http://rva.risevision.com/#/PRESENTATION_MANAGE/id=99d4d96d-5585-4a8e-a9f9-e963cdacf1fb?cid=fa5ffa88-c4d4-478d-bd41-b31b9ae037fc
2) In "sponsors" placeholder (right side) click to add an image item
3) Click on the storage link to the right of URL
4) Approx 18 files are listed wi

[2015-10-02 14:01] fjvallarino commented on #389
@mfisher11 This is fixed on production now

[2015-10-02 14:19] mfisher11 commented on #389
Confirmed and closing.  Thanks @fjvallarino

[2015-10-02 14:19] #389 closed

[2015-11-09 13:43] #380 closed

[2016-01-04 22:53] alex-deaconu opened #399 "Uploading a folder or multiple files as a user's first upload generates an error"
From the logs at storage.rvaserver2.appspot.com:
http://screencast.com/t/zouApK51Z

When uploading a folder, multiple upload URL requests are generated. As seen in the logs, the first request succeeds, however subsequent requests result in:
503: Backend Error
500: Backend Error
409: You already own this bucket. Please select another name.

Also, for some reason the server gets stuck on creating bu

[2016-01-08 18:44] alex-deaconu commented on #399
@rjcahoy just an FYI. This is the Storage Issue with uploading to new accounts you reported a couple of days ago in Hipchat. It should be fixed as of now.

I've verified it, however if you want to give it a quick spin to ensure everything works correctly, you're more than welcome to.

Thanks!

[2016-01-12 16:14] hcs0 opened #401 "Remove link does not work when uploading multiple files in Storage"
**Problem to be Solved**
When I start my Storage subscription or enter my Storage and I upload multiple files at the same time, I am not able to Remove the list of file/s that I want to delete.  I can only select the 'Remove' link on the file while it is being uploaded.

In this recording, I am selecting the 'Remove' link on two image links but was not able to remove them.  However I was able to s

[2016-01-12 16:16] lapinnoir commented on #399
@alex-deaconu I have tested this out and can confirm that I am able to do multiple uploads on new subscriptions.
While testing this out, I came across another bug around the Remove link.  See https://github.com/Rise-Vision/storage-client/issues/401

[2016-01-12 17:03] #399 closed

[2016-01-13 16:30] RV-Adrian opened #402 "Empty State remains when file is being uploaded"
![bugg4](https://cloud.githubusercontent.com/assets/11826611/12300795/0abb3028-b9eb-11e5-9abb-aa518be74142.gif)

[2016-01-13 16:45] RV-Adrian commented on #402
@alex-deaconu Tried again with non-staged environment. Screencap above.  Thx!

[2016-01-14 16:54] RV-Adrian opened #403 "Duplicate 'Cookie Blocked' message in Storage client"
![cookie](https://cloud.githubusercontent.com/assets/11826611/12330819/f05ca8d6-bab4-11e5-92fe-169733fcd1fa.jpg)

Cookie error messages need to be removed from storage-client, and remain in Common Header.
For now, I will add `ng-hide` until @ezequielc can clear the Angular code involved. Thx!

[2016-01-23 03:08] brianloosbrock opened #406 "View invoices from subscription status opens Store in a unreadable iframe window"
Over of the issue here https://goo.gl/w13NQA.

@ByronDarlison @ezequielc I think this is something we should fix right away so people who are trying to reactive their account can. Thanks

[2016-01-23 12:30] ByronDarlison commented on #406
Agreed @brianloosbrock. @alex-deaconu @ezequielc what do you guys think? And if you concur? Can we add this to the next sprint backlog? Thanks!

[2016-01-29 18:22] alex-deaconu commented on #406
@brianloosbrock this issue is fixed in production. Please verify.

@ByronDarlison @ezequielc FYI. Thanks.

[2016-01-29 19:45] brianloosbrock commented on #406
@alex-deaconu Verified. Closing. Thanks

[2016-01-29 19:45] #406 closed

[2016-02-02 11:27] ByronDarlison commented on #403
@RV-Adrian can you confirm if this issue is still open?

[2016-02-02 11:29] ByronDarlison commented on #402
@RV-Adrian can you confirm what should be happening instead with this issue and if there is any UX work involved? Thanks

[2016-02-02 11:31] ByronDarlison commented on #377
@mfisher11 @RV-Adrian @ghislaineguerin @alex-deaconu @ezequielc @fjvallarino does anyone know if this defect is still open? Thanks

[2016-02-02 11:32] ByronDarlison commented on #373
@ezequielc @alex-deaconu we should fix this as part of the storage work that is coming up. @RV-Adrian @ghislaineguerin anything to add from a UX perspective on this issue? Thanks

[2016-02-02 11:34] ByronDarlison commented on #403
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;hkt0FRk1&#x2F;1121-https-github-com-rise-vision-storage-client-issues-403"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;storage-client&#x2F;issues&#x2F;403</a>

[2016-02-02 11:34] ByronDarlison commented on #402
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;4TwCIco8&#x2F;1122-https-github-com-rise-vision-storage-client-issues-402"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;storage-client&#x2F;issues&#x2F;402</a>

[2016-02-02 11:34] ByronDarlison commented on #401
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;2b0sy9Hp&#x2F;1123-https-github-com-rise-vision-storage-client-issues-401"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;storage-client&#x2F;issues&#x2F;401</a>

[2016-02-02 11:35] ByronDarlison commented on #377
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;axfN6cvZ&#x2F;1124-https-github-com-rise-vision-storage-client-issues-377"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;storage-client&#x2F;issues&#x2F;377</a>

[2016-02-02 11:35] ByronDarlison commented on #373
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;24wprpwp&#x2F;1125-https-github-com-rise-vision-storage-client-issues-373"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;storage-client&#x2F;issues&#x2F;373</a>

[2016-02-02 17:51] mfisher11 commented on #377
@ByronDarlison I don't think this is an issue any more as the "open in storage app" button is no longer present.  I tried to replicate with the image widget and video widget.

[2016-02-02 18:27] ByronDarlison commented on #377
Okay. Thanks @mfisher11

[2016-02-02 18:27] #377 closed

[2016-03-25 17:47] hcs0 opened #412 "Not able to download a group of selected files"
**How to recreate**
1. Go to storage-stage-0.risevision.com
2. Download a group of files
3. Select a group of files and select the Download button

**What happens**
The download does not start for these groups of files

 http://recordit.co/UfbEySabVj

**What should happen**
The download should start for these group of files

**Notes**
Chr 49.0.2623.87
Does not happen in storage.risevision.com

[2016-03-25 17:52] hcs0 opened #413 "While uploading multiple files, not able to remove the files unless they are on the progress bar"
**How to recreate**
1. Go to storage-stage-0.risevision.com
2. Create a new folder
3. Upload a group of files
3. Select 'Remove' for certain files

**What happens**
In the recording at http://recordit.co/D5Dd9PYoHu, I was able to remove the STScl4.jpg file from being uploaded but only when the progress bar is on it.  I was not able to remove other files when selecting the Remove link.

**What shou

[2016-03-25 17:58] hcs0 opened #414 "storage-client.No user error when moving a selected group of files to Trash"
**How to recreate**
1. Create a new user and add to the Test Company
2. Enable Storage for the user on storage-stage-0.risevision.com
3. Upload multiple files
4. Select a group of files to be added to Trash

**What happens**
Was not able to select the group of files to go to Trash.

<img width="565" alt="screen shot 2016-03-25 at 1 57 11 pm" src="https://cloud.githubusercontent.com/assets/5868781/

[2016-03-25 18:07] hcs0 opened #415 "Pop up appears in Chrome asking user permission to download multiple files"
**How to recreate**
1. Log in as an existing user in the Test company
2. Go to a folder hosted on storage-stage-0.risevision.com (in this case it was Image Folder Issue 20 / Images folder)
3. Select the all button
4. Select the Download button

**What happens**
A pop up window appears in Chrome asking the user permission to download multiple files

![screen shot 2016-03-25 at 1 45 06 pm](https://c

[2016-03-25 18:22] hcs0 commented on #413
Added in the notes: Also appears when uploading multiple files to the Presentation or Placeholder background in https://apps-stage-0.risevision.com/

[2016-03-28 14:04] hcs0 commented on #413
Occurs on production storage

[2016-03-28 14:16] hcs0 commented on #415
Does not occur in storage.risevision.com

[2016-03-28 14:16] hcs0 commented on #412
Does not occur in storage.risevision.com

[2016-03-28 14:16] hcs0 commented on #414
Does not occur in storage.risevision.com

[2016-03-28 21:15] ezequielc commented on #413
Duplicate of https://github.com/Rise-Vision/storage-client/issues/401

[2016-03-28 21:15] #413 closed

[2016-03-28 21:33] ezequielc commented on #415
@alex-deaconu @ByronDarlison @hcs0 As it only occurs in stage, are we ok to close this issue?

[2016-03-28 21:34] ezequielc commented on #414
@alex-deaconu @ByronDarlison @hcs0 As it only occurs in stage, are we ok to close this issue?

[2016-03-28 21:34] ezequielc commented on #412
@alex-deaconu @ByronDarlison @hcs0 As it only occurs in stage, are we ok to close this issue?

[2016-03-28 21:45] alex-deaconu commented on #415
@ezequielc agreed. Thanks.

[2016-03-28 21:45] alex-deaconu commented on #414
@ezequielc agreed. Thanks.

[2016-03-28 21:46] alex-deaconu commented on #412
@ezequielc agreed. Thanks.

[2016-03-28 21:50] #412 closed

[2016-03-28 21:51] #415 closed

[2016-03-28 21:51] #414 closed

[2016-03-31 17:36] ezequielc commented on #401
@hcs0 This is fixed for the new Storage file selector in Apps. We are going to replace Storage and reuse this code, so if you confirm it works in the new file selector, we can close this issue. Thanks

[2016-03-31 20:36] hcs0 commented on #401
@ezequielc I cleared cache and tried with both storage.risevision.com and https://storage-stage-0.risevision.com/ - can only Remove files if the upload progress bar is on it still http://g.recordit.co/TSoOHjmTvv.gif

[2016-03-31 20:48] ezequielc commented on #401
@hcs0 The issue was fixed only in apps.risevision.com Storage file selector (by changing Presentation background or Placeholder background). Both links you mentioned are not going be fixed as they are going to be replaced soon. Thanks!

[2016-03-31 20:51] hcs0 commented on #401
@ezequielc Thanks, it works!

[2016-03-31 20:53] ezequielc commented on #401
Thanks @hcs0

[2016-03-31 20:53] #401 closed

[2016-04-06 21:08] alex-deaconu commented on #403
@ByronDarlison @ezequielc since we've moved Storage to Apps, this issue no longer applies. Closing. Thanks.

[2016-04-06 21:08] #403 closed

[2016-04-14 18:04] btfrise opened #416 "Media with '#' in the filename does not exist after using in-app upload."
**How to recreate**
1. Create a file with a '#' symbol in the file name. Ex. this is a test file #.jpg
2. Create a presentation with the Image Widget.
3. Configure the Image Widget, click Single Image, upload 'this is a test file #.jpg', and select this image.
4. Click preview file

**What happens**
A web page will load showing "This XML file does not appear to have any style information associate

[2016-04-14 18:09] btfrise commented on #416
relogged in https://github.com/Rise-Vision/rise-vision-apps

[2016-04-14 18:09] #416 closed

[2016-04-18 17:29] ezequielc commented on #402
@RV-Adrian This issue was fixed, you can validate it in https://apps.risevision.com/storage-selector.html#/. Thanks

[2016-04-18 17:40] ezequielc commented on #402
Validated in the card. I am closing the issue. Cheers

[2016-04-18 17:40] #402 closed

[2016-04-19 17:36] #373 closed